$c-bg: #DFD9EC;
$c-bg-accent: #C3ACCE;
$c-bg-content: #ffffff;
$c-text: #000000;
$c-text-accent: #538083;
$c-text-accent2: #89909f;

@keyframes unhide {
  to {
    transform: unset;
  }
}

%unhide {
  transition: transform .5s;
  animation: 1s cubic-bezier(0.22, 0.61, 0.36, 1) 0s 1 normal forwards unhide;
}