$c-bg: #DFD9EC;
$c-bg-accent: #C3ACCE;
$c-bg-content: #ffffff;
$c-text: #000000;
$c-text-accent: #89909f;
$c-text-accent2: #538083;

$spawn-curve: cubic-bezier(0.22, 0.61, 0.36, 1);

@keyframes unhide-frames {
  to {
    transform: unset;
  }
}

%unhide {
  animation: .5s $spawn-curve 0s 1 normal forwards unhide-frames;
}